In [1]:

#news test
import requests
from bs4 import BeautifulSoup as bs

url = 'https://www.dhakatribune.com/articles/latest-news/dhaka'
news_response = requests.get(url)
html = news_response.text
url = news_response.url
status = news_response.status_code
print(url ,"||", status)
soup_div = bs(html,'html.parser')
filter_by = {
    'class':'listing-time'
}
#values = []
new
for tag_Data in soup_div.findAll('p'):
    data=tag_Data.string
    print(len(data))
    #data=tag_Data.string
    #values.append(data.replace('“','').replace('”',''))
#print(values)

https://www.dhakatribune.com/articles/latest-news/dhaka || 200

NameError: name 'new' is not defined

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

url = 'https://quotes.toscrape.com'
news_response = requests.get(url)
html = news_response.text

soup_div = bs(html,'html.parser')
print(soup_div.title)

In [ ]:
#printing only friest span
print(soup_div.span)

In [ ]:
#print without html tags
print(soup_div.title.string)
print('-------------------')
print(soup_div.span.string)

In [ ]:
#find div parent  ! 
print(soup_div.title.parent)
#it will show including other divs

In [ ]:
#only showing the parent name
print(soup_div.title.parent.name)

In [ ]:
#find all tags !

In [ ]:
print(soup_div.findAll('span')) # find tag which contain span

In [ ]:
span_divs = soup_div.findAll('span')

In [ ]:
print(span_divs)

In [ ]:
count = 1
for data in span_divs:
    #print(span_divs)
    #print(count)
    count= count+1
#print(count)

In [ ]:
#find ta which contain "a" <a> tag

In [ ]:
for tags in soup_div.findAll('a'):
    pass
    #print(tags)

In [ ]:
#find spacefic data from same tag!
#find all the span, which have class attribute! and those class values is "text"

In [ ]:

#for values in dir(tag):
    #print(values)

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

url = 'https://quotes.toscrape.com'
news_response = requests.get(url)
html = news_response.text

soup_div = bs(html,'html.parser')
print(soup_div.title)

In [ ]:
filter_by = {
    'class':'text'
}
values = []
for tag_Data in soup_div.findAll('span',filter_by):
    data=tag_Data.string
    values.append(data.replace('“','').replace('”',''))
print(values)

In [ ]:


dicts = {}
keys = range(len(values))

for i in keys:
        dicts[i] = values[i]
print(dicts)

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

url = 'https://quotes.toscrape.com'
news_response = requests.get(url)
html = news_response.text
soup_div = bs(html,'html.parser')
filter_by = {
    'class':'text'
}

with open('soup_export_quats.txt','w') as f:
    for tag_Data in soup_div.findAll('span',filter_by):
        data=tag_Data.string
        value =data.replace('“','').replace('”','')
        print(value)
        f.write(value)
        f.write('\n')

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

url = 'https://quotes.toscrape.com'
news_response = requests.get(url)
html = news_response.text
soup_div = bs(html,'html.parser')
filter_by = {
    'class':'author'
}

with open('author_names.csv','w') as f:
    for tag_Data in soup_div.findAll('small',filter_by):
        data=tag_Data.string
        value =data.replace('“','').replace('”','')
        print(value)
        f.write(value)
        f.write('\n')

In [ ]:
#multi valued atribute

In [ ]:
from bs4 import BeautifulSoup as bs
html = '<h1 id="xyz" class="abc 123">Hhelllow world</h1><span></span><span></span>'

In [ ]:
html

In [ ]:
soup_object = bs(html,'html.parser')
tag = soup_object.h1
#print(tag.string)
print(tag['class'])
#this will return multi valued atribute
#so its returning a list !

In [ ]:
soup_object = bs(html,'html.parser',multi_valued_attributes=None)
tag = soup_object.h1
#print(tag.string)
print(tag['class'])
#it returning single value for using multi_valued_attributes=None

In [ ]:
soup_object = bs(html,'html.parser')
tag = soup_object.h1

In [ ]:
for value in tag['class']:
    if value == ""
        print(True)
    else:
        print(False)

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
url = 'https://www.imdb.com/chart/top/'
imdb_response = requests.get(url)
print(imdb_response.status_code)
raw_html = imdb_response.text
soup_object = bs(raw_html,'html.parser')

200

In [5]:
import pandas as pd
filter_class = {
    'class':'lister-list'
}
table_container=soup_object.find('tbody',filter_class) #entering the table body
tr_table_rows =table_container.findAll('tr') #get inside the table row
#access each tow data


title_list = []
year_list= []
rating_list = []
for each_td in tr_table_rows:
    td_data_title=each_td.find('td',{'class':'titleColumn'})
    
    #on title we have both movie name and released
    a_title=td_data_title.find('a')
    title_list.append(a_title.string)#appending on list
    span_year =td_data_title.find('span')
    year_list.append(span_year.string)#appending on list
    
    #Rating is belong to another class td
    td_data_rating=each_td.find('td',{'class':'ratingColumn imdbRating'})
    strong_rating =td_data_rating.find('strong')
    rating_list.append(strong_rating.string)

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [26]:
rating_df

    rating
0     None
1     None
2     None
3     None
4     None
..     ...
245   None
246   None
247   None
248   None
249   None

[250 rows x 1 columns]

In [6]:
title_df

                                           movie_title
0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         12 Angry Men
..                                                 ...
245  Shin seiki Evangelion Gekijô-ban: Air/Magokoro...
246                                           Drishyam
247                                     Koe no katachi
248                                        Mandariinid
249                             La battaglia di Algeri

[250 rows x 1 columns]